<div class="adm_products" style="">
  <app-menu></app-menu>
  <div class="content" style="width: 100%;">
    <div class="content-header"><h2>Products</h2></div>
    <button (click)="getProducts()">Odświez</button>
    <div class="content-container">
      <ng-container
        *ngFor="let product of this.mainService.products?.productsTable"
      >
        <div class="search__result">
          <div class="search__result__image">
            <img src="{{ product.thumbnail }}" alt="" />
          </div>
          <div class="search__result__details">
            <ul>
              <li>Tytuł: {{ product.title }}</li>
              <li>Cena: {{ product.price }}</li>
              <li>Kategoria: {{ product.category }}</li>
            </ul>
          </div>
          <div class="search__result__addToBasket">
            <button (click)="addToCart(product)" class="btn">
              Do koszyka
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
