<div>
  <link
    href="https://fonts.googleapis.com/css?family=Cinzel"
    rel="stylesheet"
  />

  <button routerLink="/adm_dashboard" style="display: flex;">
    Panel Administratora
  </button>
  <div style="display: flex; flex-direction: row; text-align: center;">
    <style></style>
    <div class="container">
      <img
        src="https://i.ya-webdesign.com/images/80s-vector-neon-city-2.png"
        class="image"
      />
      <div class="overlay">
        <div class="text">Kup sobie grę</div>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center;">
    <input type="text" [(ngModel)]="this.mainService.productsRequest.name" />
    <button
      (click)="this.mainService.getProducts(this.mainService.productsRequest)"
      routerLink="/products"
    >
      <img src="assets/obrazki/search.png" style="height: 20px;" />
    </button>
  </div>
  <div>
    <button id="cartBtn" routerLink="/cart">
      {{ getCartQuanity() }}
    </button>
  </div>
</div>
