button {
  border: none !important;
}

input {
  width: 100%;
  margin-right: 5px;
  border: none;
  border-bottom: 1px solid bisque;
}
.admin_button {
  border: 1px solid #ccc !important;
  background: rgba(255, 255, 255, 0.6);
  float: right;
  color: #335db8;
  transition: 0.33s ease all;
}

.admin_button:hover {
  border: 1px solid bisque;
  cursor: pointer;
  color: bisque;
}
button {
  background: none;
}
.container {
  position: relative;
  width: 100%;
}

.header_section {
  position: relative;
  width: 100%;
}
.header_section:before {
  background: bisque;
  position: absolute;
  content: "";
  width: 200vw;
  height: 100%;
  left: -50%;
}
.image {
  display: block;
  width: 100%;
  height: 350px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: "Cinzel";
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.top_section {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.basket_class {
  display: flex;
  align-items: center;
}
