#admin_content {
  display: flex;

  @media (max-width: 757px) {
    flex-direction: column;
  }
}

.containter {
  flex-basis: 80%;
}

.order_data {
  display: flex;
}

.order_data > div:first-child {
  width: 5%;
}

.first_name,
.last_name {
  width: 17%;
}

.price {
  width: 10%;
}

.email {
  width: 30%;
}
@media (max-width: 757px) {
  .first_name {
    display: none;
  }
  .last_name {
    width: 30%;
  }
  .date {
    display: none;
  }
  .email {
    width: 60%;
  }
}
