<app-panel-top></app-panel-top>
<div id="admin_content">
  <aside>
    <app-menu></app-menu>
  </aside>
  <div class="containter">
    <div style="width: 100%;">
      <div>
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="randomize()"
      >
        Pobierz dane
      </button>
    </div>
    <h2>Zamówienia</h2>
    <div class="order_page">
      <div
        class="order_data"
        *ngFor="let order of this.mainService.orders?.orders"
      >
        <div class="order_id">{{ order.id }}</div>
        <div class="first_name">{{ order.first_name }}</div>
        <div class="last_name">{{ order.last_name }}</div>
        <div class="email">{{ order.email }}</div>
        <div class="price">{{ order.price }}</div>
        <div class="date">{{ order.date_end }}</div>
      </div>
    </div>
  </div>
</div>
